<style>
  .blockify__collection--1 {
    padding-top: {{ section.settings.section_padding_top_desktop }}px;
    padding-bottom: {{ section.settings.section_padding_bottom_desktop }}px;
  }
  .blockify__collection--1 .blockify-collection__inner {
    display: grid;
    gap: {{ section.settings.gap_size }}px;
  }
  .blockify__collection--1.gtc-2 .blockify-collection__inner {
    grid-template-columns: repeat(2,1fr);
  }
  .blockify__collection--1.gtc-3 .blockify-collection__inner {
    grid-template-columns: repeat(3,1fr);
  }
  .blockify__collection--1 .blockify-collection__inner .blockify-collection__single-item {
    height: 260px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  .blockify__collection--1 .blockify-collection__inner .blockify-collection__single-item img.blockify-collection__image {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 200px;
    transition: transform .4s ease;
  }
  .blockify__collection--1 .blockify-collection__inner .blockify-collection__single-item:hover img.blockify-collection__image {
    transform: translateY(-50%) scale(1.05);
  }
</style>
<link rel="stylesheet" href="{{ "blockify-collections.css" | asset_url }}">
<div class="blockify__collection--1 blockify__grid gtc-{{ section.settings.columns_desktop }}">
  <div class="container">
    <div class="blockify-collection__inner">
      {% for block in section.blocks %}
        <div class="blockify-collection__single-item" style="background: {{ block.settings.bgcolor }}">
        <h3>
          {{ block.settings.collection.title }}
        </h3>
        <a href="#">Shop now</a>
        {% if block.settings.category_image != blank %}
          {{ block.settings.category_image | image_url: width: 400 | image_tag: loading: 'lazy', class: 'blockify-collection__image' }}
          {% else %}
          {{ block.settings.collection.image | image_url: width: 400 | image_tag: loading: 'lazy', class: 'blockify-collection__image' }}
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Blockify - Collection 1",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "select",
        "id": "columns_desktop",
        "label": "Items per row Desktop",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "id": "gap_size",
        "min": 0,
        "max": 80,
        "step": 4,
        "unit": "px",
        "label": "Gap size",
        "default": 32
      },
      {
        "type": "header",
        "content": "Padding Desktop"
      },
      {
        "type": "range",
        "id": "section_padding_top_desktop",
        "min": 0,
        "max": 148,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 120
      },
      {
        "type": "range",
        "id": "section_padding_bottom_desktop",
        "min": 0,
        "max": 148,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom",
        "default": 120
      },
      {
        "type": "header",
        "content": "Padding Mobile"
      },
      {
        "type": "range",
        "id": "section_padding_top_mobile",
        "min": 0,
        "max": 148,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 120
      },
      {
        "type": "range",
        "id": "section_padding_bottom_mobile",
        "min": 0,
        "max": 148,
        "step": 4,
        "unit": "px",
        "label": "Padding bottom",
        "default": 120
      }
    ],
    "blocks": [
      {
       "name": "Collection",
       "type": "Collection",
       "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Custom Category Image"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "Background color",
          "default": "#D6D3C9"
        }
       ]
     }
    ],
    "presets": [
      {
        "name": "Blockify - Collection 1"
      }
    ]
  }
{% endschema %}